<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                /* margin: 27mm 10mm 27mm 10mm; */
                margin: 3.81cm 1.27cm 3.14cm 1.98cm;
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 10px;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 10px;
            }
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        

        <div class="default-template container" style="margin-top: 15rem;">
            <p>
                Sungguhpun segala usaha telah diambil untuk memastikan maklumat yang diberi adalah betul dan kemaskini Pendaftar Syarikat tidak boleh dipertanggungkan bagi sebarang kerugian kerana maklumat yang tersilap atau tertinggal.
            </p>
            <h3 class="font-weight-bold text-center">** MAKLUMAT SYARIKAT **</h3>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <td>Nama</td>
                        <td>: BIG DATAWORKS SDN. BHD.</td>
                    </tr>
                    <tr>
                        <td>Nama Lama</td>
                        <td>: BIG DATAWORKS MANAGEMENT SDN. BHD.</td>
                    </tr>
                    <tr>
                        <td>Tarikh Pertukaran</td>
                        <td>: 22-09-2016</td>
                    </tr>
                    <tr>
                        <td>No. Pendaftaran</td>
                        <td>: <strong>201101006232(934369-T)</strong></td>
                    </tr>
                    <tr>
                        <td>Tarikh Penubuhan</td>
                        <td>: 01-03-2011</td>
                    </tr>
                    <tr>
                        <td>Jenis</td>
                        <td>
                            <p>: LIMITED BY SHARES</p>
                            <p>: PRIVATE LIMITED</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>
                            <p>: EXISTING</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Alamat Daftar</td>
                        <td>
                            <p>: 110 JALAN MAAROF</p>
                            <p>  BANGSAR BARU</p>
                            <p>  KUALA LUMPUR</p>
                            <p>  WILAYAH PERSEKUTUAN</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Poskod</td>
                        <td>: 59000</td>
                    </tr>
                    <tr>
                        <td>Tempat Penubuhan</td>
                        <td>
                            <p>Malaysia</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Alamat Perniagaan</td>
                        <td>
                            <p>1ST TIER WAREHOUSE</p>
                            <p>WISMA COMMERCEDOTCOM</p>
                            <p>NO. 15 JALAN TANDANG</p>
                            <p>PETALING JAYA</p>
                            <p>SELANGOR</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Poskod</td>
                        <td>: 46050</td>
                    </tr>
                    <tr>
                        <td>Jenis Perniagaan</td>
                        <td>
                            <p>: 1. INFORMATION SERVICE SUPPLY, DATA ANALYTICS AND SOFTWARE DEVELOPMENT</p>
                            <p>  2. DOCUMENTS STORAGE, MANAGEMENT SERVICES AND MOVERS</p>
                        </td>
                    </tr>
                </table>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">**  MAKLUMAT MODAL **</h3>
            <p>Nama: BIG DATAWORKS SDN. BHD.</p>
            <p>No. Pendaftaran: 201101006232(934369-T)</p>
            <p>Jumlah Diterbitkan: RM 1,000,000.0000</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-right">TUNAI</th>
                            <th class="text-right">SELAIN DARI TUNAI</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>BIASA</td>
                            <td class="text-right">
                                1,000,000
                            </td>
                            <td class="text-right">0</td>
                        </tr>
                        <tr>
                            <td>PREFEREN</td>
                            <td class="text-right">0</td>
                            <td class="text-right">0</td>
                        </tr>
                        <tr>
                            <td>LAIN-LAIN</td>
                            <td class="text-right">0</td>
                            <td class="text-right">0</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** MAKLUMAT PENGARAH DAN PEGAWAI **</h3>
            <p>Nama: BIG DATAWORKS SDN. BHD.</p>
            <p>No. Pendaftaran: 201101006232(934369-T)</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <thead>
                        <tr>
                            <th>Nama/Alamat</th>
                            <th>Jawatan</th>
                            <th>IC/Passport</th>
                            <th>Tarikh Lantikan</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>
                                <p class="mb-0">ZALINA BINTI KASANI</p>
                                <p class="my-0">NO. 19 JALAN PUJ 9/7</p>
                                <p class="my-0">TAMAN PUNCAK JALIL</p>
                                <p class="my-0">BANDAR PUTRA PERMAI</p>
                                <p class="my-0">43300 SERI KEMBANGAN</p>
                                <p class="mt-0"> SELANGOR</p> 
                            </td>
                            <td>
                                660527-10-5276
                            </td>
                            <td>
                                <p>Secretary</p>
                            </td>
                            <td>15-06-2016</td>
                        </tr>

                        <tr>
                            <td>
                                <p class="mb-0">SHERIZA BIN ZAKARIA</p>
                                <p class="my-0">A-1-7 SURIAN RESIDENCES CONDO</p>
                                <p class="my-0">JALAN PJU 7/16</p>
                                <p class="my-0">MUTIARA DAMANSARA MALAYSIA</p>
                                <p class="my-0">447810 PETALING JAYA</p>
                                <p class="mt-0"> SELANGOR</p> 
                            </td>
                            <td>
                                740210-06-5229
                            </td>
                            <td>
                                <p>Director</p>
                            </td>
                            <td>07-03-2019</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** MAKLUMAT PEMEGANG SYER **</h3>
            <p>Nama: BIG DATAWORKS SDN. BHD.</p>
            <p>No. Pendaftaran: 201101006232(934369-T)</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <thead>
                        <tr>
                            <th>IC/Passport/
                                No. Pendaftaran</th>
                            <th>Nama/Nama Syarikat</th>
                            <th>Jumlah Syer</th>
                        </tr>
                    </thead>
    
                    <tbody>
                        <tr>
                            <td>
                                198201005232 (84984-H)
                            </td>
                            <td>PUNCAK SEMANGAT TECHNOLOGY SDN. BHD.</td>
                            <td>RM 1,000,000.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** MAKLUMAT GADAIAN **</h3>
            <p>Nama: BIG DATAWORKS SDN. BHD.</p>
            <p>No. Pendaftaran: 201101006232(934369-T)</p>
            <div class="table-responsive">
                <h1>--- TIADA MAKLUMAT ---</h1>
            </div>

            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** RINGKASAN PENYATA KEWANGAN **</h3>
            <p>Nama: BIG DATAWORKS SDN. BHD.</p>
            <p>No. Pendaftaran:</p>
            <div class="table-responsive">
                <table class="table borderless">
                    <tr>
                        <td>Auditor</td>
                        <td>
                            PETER CHONG & CO. (AF0165)
                        </td>
                    </tr>
                    <tr>
                        <td>Auditor Address</td>
                        <td>
                            <p> SOHO SUITES @ KLCC</p>
                            <p>BLOCK A2, LEVEL 31-3</p>
                            <p>NO. 29, JALAN PERAK</p>
                            <p>50450, KUALA LUMPUR</p>
                            <p>WILAYAH PERSEKUTUAN</p>
                        </td>
                    </tr>
                    <tr>
                        <td>Exempt Private Company</td>
                        <td>: N/A</td>
                    </tr>
                    <tr>
                         <td>Financial Year End</td>
                        <td>
                            31-12-2018
                        </td>
                    </tr>
                    <tr>
                        <td>Unqualified Reports (Y/N)</td>
                        <td>
                            Y
                        </td>
                    </tr>
                    <tr>
                        <td>Consolidated Accounts (Y/N)</td>
                        <td>
                            N
                        </td>
                    </tr>
                    <tr>
                        <td>Data of Tabling</td>
                        <td>
                            30-09-2019
                        </td>
                    </tr>
                    <tr>
                        <th>Balance Sheet</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Non-current Assets</td>
                        <td class="text-right">
                            3,243,411.00
                        </td>
                    </tr>
                    <tr>
                        <td>Current Assets</td>
                        <td class="text-right">
                            44,009,961.00
                        </td>
                    </tr>
                    <tr>
                        <td>Non-current Liabilities</td>
                        <td class="text-right"> 
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Current Liabilities</td>
                        <td class="text-right"> 
                            7,764,742.00
                        </td>
                    </tr>
                    <tr>
                        <td>Share Capital</td>
                        <td class="text-right">
                            1,000,000.00
                        </td>
                    </tr>
                    <tr>
                        <td>Reserve</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Retain Interest</td>
                        <td class="text-right">
                            -1,511,370.00
                        </td>
                    </tr>
                    <tr>
                        <td>Minority Interest</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
    
                    <tr>
                        <th>Income Statement Items</th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Revenue</td>
                        <td class="text-right">
                            27,096,304.00
                        </td>
                    </tr>
                    <tr>
                        <td>Profit / (Loss) Before Tax</td>
                        <td class="text-right">
                            1,120,143.00
                        </td>
                    </tr>
                    <tr>
                        <td>Profit / (Loss) After Tax</td>
                        <td class="text-right">
                            1,120,143.00
                        </td>
                    </tr>
                    <tr>
                        <td>Net Dividend</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                    <tr>
                        <td>Minority Interest</td>
                        <td class="text-right">
                            0.00
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>

    <footer>
        <p></p>
    </footer>
</html>

