<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                margin: 4.01cm 2.48cm 3.34cm 2.48cm;
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 14rem !important;
            }
            html {
                font-family: Arial, sans-serif;
                font-size: 11px;
            }
            .default-template {
                color: #333;
                font-family: Arial, sans-serif;
            }
            .default-template p#secondary {
                word-spacing: 7pt;
                font-size: 21px;
                text-align: justify;
            }
            .default-template p#primary {
                word-spacing: 7pt;
                font-size: 22px;
                text-align: justify;
            }
            table tr.top table td.title {
                color: #333;
            }
            table tr.heading td {
                color: #333;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 15rem;
            }
            .pg-start {
                margin-top: 15rem;
            }
            ol#aol {
                list-style-type: lower-latin;
            }
            ol#bol {
                list-style-type: decimal;
            }
            ol li {
                word-spacing: 7pt;
                font-size: 20px;
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        

        <div class="default-template container pg-start">
            <p id="secondary" class="mt-7">
                Although all efforts have been carried out to ensure 
                that the information provided is accurate and up to date, 
                the Registrar of Companies will not be liable for any 
                losses arising from any inaccurate or omitted information.
            </p>
            <h3 class="font-weight-bold text-center">** CORPORATE INFORMATION **</h3>

                <div class="table-responsive">
                    <table class="table text-left borderless">
                        <tbody>
                            <tr>
                                <td>
                                    <p id="primary">
                                        Name
                                    </p>
                                </td>
                                <td>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyName']</td>                            
                            </tr>
                            <tr>
                                <td><p id="primary"></p>Last Old Name:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyOldName']</td>                            
                            </tr> 
                            <tr>       
                                <td><p id="primary"></p>Date Of Change:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['dateOfChange']</td>                            
                            </tr>         
                            <tr>       
                                <td><p id="primary"></p>Registration No.:</td>
                                <td><p id="primary"></p>XXXNewCoFormatXXX  ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyNo']</td>                            
                            </tr>         
                            <tr>       
                                <td><p id="primary"></p>Incorporation Date:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['incorpDate']</td>                            
                            </tr>      
                            <tr>       
                                <td><p id="primary"></p>Type:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyType']</td>                            
                            </tr>     
                            <tr>       
                                <td><p id="primary"></p>Status:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyStatus']</td>                            
                            </tr>  
                            <tr>       
                                <td><p id="primary"></p>Registered Address:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocRegAddressInfo']['address1']
                                    ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocRegAddressInfo']['address2']
                                    ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocRegAddressInfo']['address3']
                                    ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocRegAddressInfo']['town']
                                    ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocRegAddressInfo']['state']</td>                            
                            </tr> 
                            <tr>       
                                <td><p id="primary"></p>Postcode:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocRegAddressInfo']['postcode']</td>                            
                            </tr> 
                            <tr>       
                                <td><p id="primary"></p>Nature Of Business:</td>
                                <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['businessDescription']</td>                            
                            </tr> 
                        </tbody>
                    </table>
                </div>
            



            <h3 class="font-weight-bold text-center" style="page-break-before: always; margin-top: 15rem;">** FINANCIAL HISTORICAL COMPARISON **</h3>
            <p>Name: ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyName']</p>
            <p>Registration No.: XXXNewCoFormatXXX  ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo']['companyNo']</p>
            <div class="table-responsive">
                <table class="table text-left borderless">
    
                    <tbody>
                        <tr>
                            <td><p id="primary"></p>AUDITOR</td>
                            <td><p id="primary"></p></td>
                            <td><p id="primary"></p></td>
                        </tr>                         

                        <tr>
                            <td><p id="primary"></p>Auditor</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmName']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmNo']</td>    
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmName']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmNo']</td>
                        </tr>                        
                        <tr>
                            <td><p id="primary"></p>Auditor Address</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmAddress1']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmAddress2']  
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmAddress3']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmPostcode']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmTown']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['auditFirmState']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmAddress1']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmAddress2']  
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmAddress3']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmPostcode']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmTown']
                                ['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['auditFirmState']</tr>
                        <tr>
                            <td><p id="primary"></p>Exempt Private Company</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo'][0]['statusOfCompany']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocCompanyInfo'][1]['statusOfCompany']</td>
                        </tr>
                        <tr>
                            <td><p id="primary"></p>Financial Year End</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['financialYearEndDate']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['financialYearEndDate']</td>
                        </tr>
                            <td><p id="primary"></p>Unqualified Report (Y/N)</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['financialReportType']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['financialReportType']</td>
                        </tr>
                            <td><p id="primary"></p>Consolidated Account (Y/N)</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['accrualAccType']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['accrualAccType']</td>
                        </tr>
                            <td><p id="primary"></p>Date of Tabling</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['dateOfTabling']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['dateOfTabling']</td>
                        </tr>
                            

                        <tr>
                            <td><p id="primary"></p>BALANCE SHEET ITEMS</td>
                            <td><p id="primary"></p></td>
                            <td><p id="primary"></p></td>
                        </tr> 
                        <tr>
                            <td><p id="primary"></p>Non Current Asset</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['nonCurrAsset']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['nonCurrAsset']</td>
                        </tr>
                            <td><p id="primary"></p>Current Asset</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['currentAsset']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['currentAsset']</td>
                        </tr>
                            <td><p id="primary"></p>Non Current Liabilities</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['nonCurrentLiability']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['nonCurrentLiability']</td>
                    </tr>
                            <td><p id="primary"></p>Current Liabilities</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['liability']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['liability']</td>
                    </tr>
                            <td><p id="primary"></p>Share Capital</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['paidUpCapital']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['paidUpCapital']</td>
                    </tr>
                            <td><p id="primary"></p>Reserve</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['reserves']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['reserves']</td>
                    </tr>
                            <td><p id="primary"></p>Retained Earning</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['inappropriateProfit']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['inappropriateProfit']</td>
                    </tr>
                            <td><p id="primary"></p>Minority Interest</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][0]['minorityInterest']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocBalanceSheetListInfo']['rocBalanceSheetInfos'][1]['minorityInterest']</td>
                    </tr>

                    <td><p id="primary"></p>INCOME STATEMENT ITEMS</td>
                            <td><p id="primary"></p></td>
                            <td><p id="primary"></p></td>
                        </tr> 
                        <tr>
                            <td><p id="primary"></p>Revenue</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][0]['revenue']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][1]['revenue']</td>
                        </tr>
                            <td><p id="primary"></p>Profit/(loss) before tax</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][0]['profitBeforeTax']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][1]['profitBeforeTax']</td>
                        </tr>
                            <td><p id="primary"></p>Profit/(loss) after tax</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][0]['profitAfterTax']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][1]['profitAfterTax']</td>
                        </tr>
                            <td><p id="primary"></p>Net dividend</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][0]['netDividend']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][1]['netDividend']</td>
                        </tr>
                            <td><p id="primary"></p>Minority Interest</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][0]['minorityInterest']</td>
                            <td><p id="primary"></p>['Body']['getInfoFin2Response']['response']['getInfoFin2Return']['rocProfitLossListInfo']['rocProfitLossInfos'][1]['minorityInterest']</td>
                        </tr>
              
                    </tbody>
                </table>
            </div>
        

        </div>
    </body>

    <footer>
        <p></p>
    </footer>
</html>

