{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                /* margin: 4.01cm 2.48cm 3.34cm 2.48cm; */
                @top-right{
                    content: "Page " counter(page) " of " counter(pages);
                    font-size: 10pt;
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 11rem !important;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 15pt;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 13pt;
                padding-left: 2.5rem !important;
                padding-right: 2.5rem !important;
            }
            .default-template p#secondary {
                font-size: 13pt;
                margin-bottom: 6pt;
            }
            .default-template p#disclaimer {
                font-size: 11pt;
            }
            .default-template p#primary {
                word-spacing: 5pt;
                font-size: 13pt;
                text-align: justify;
            }
            table {border: 0;} 
            table tr.top table td.title {
                color: #333;
            }
            .table td, .table th {
                border-top: 0px;
                padding-right: 0;
                padding-left: 0;
            }
            table tr.heading td {
                color: #333;
            }
            table tr#zero {
                padding-top: 0; 
                padding-bottom: 0; 
                margin-top: 0; 
                margin-bottom: 0;
            }
            table tr th#head-zero {
                padding-top: 0; 
                padding-bottom: 0; 
                margin-top: 0; 
                margin-bottom: 0;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 12rem;
            }
            ol#branch-list {
                font-size: 13pt;
            }
            ol > li {
                margin-bottom: 0;
                margin-top: 0;
                font-size: 13pt;
            }
            .pg-start {
                margin-top: 12rem;
            }
            .end-report {
                position: absolute;
                bottom: 6.0rem;
                left: 0;
                height: 10rem;
                width: 100%;
                padding-right: 30px;
            }
            h4 {
                font-size: 15pt;
            }
            hr {
                box-sizing: content-box;
                height: 0;
                overflow: visible;
                margin-top: 2rem;
                margin-bottom: 2rem;
                border: 0;
                border-top-color: currentcolor;
                border-top-style: none;
                border-top-width: 0px;
                border-top: 1px solid rgba(0,0,0,.1);
            }
            h4#end {
                margin-top: 50px; 
                font-size: 14pt;
            }
            footer#footer {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 10pt;
                position: fixed;
                bottom: 0;
                left: 0;

                height: 2.5rem;
                width: 100%;
            }
        </style>
    </head>

    <body>
        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template pg-start">
            <p id="disclaimer">
                <b>
                    ALTHOUGH ALL EFFORTS HAVE BEEN CARRIED OUT TO ENSURE 
                    THAT THE INFORMATION PROVIDED IS ACCURATE AND UP TO 
                    DATE, THE REGISTRAR OF COMPANIES WILL NOT BE LIABLE 
                    FOR ANY LOSSES ARISING FROM ANY INACCURATE OR OMITTED 
                    INFORMATION.
                </b>
            </p>
            <h4 class="font-weight-bold text-center"><u>BUSINESS INFORMATION</u></h4>

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr>
                        <th style="width: 30%; border: 0;"></th>
                        <th style="width: 1%; border: 0;"></th>
                        <th style="width: 69%; border: 0;"></th>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{data.bizInfo.registrationName}}</p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2"><b>{{data.bizInfo.registrationNo}}</b></p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">PRINCIPLE PLACE OF BUSINESSS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.bizInfo.address_1 %}
                                {{data.bizInfo.address_1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if data.bizInfo.address_2 %}
                                {{data.bizInfo.address_2}} <br />
                            {% endif %}
                            {% if data.bizInfo.address_3 %}
                                {{data.bizInfo.address_3}} <br />
                            {% endif %}
                            {% if data.bizInfo.postcode %}
                                {{data.bizInfo.postcode}}, {{data.bizInfo.town}}  <br />
                            {% endif %}
                            {% if data.bizInfo.state %}
                                {{data.bizInfo.state}}
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">BUSINESS OWNERSHIP</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.bizInfo.bizOwnership %}
                                {{data.bizInfo.bizOwnership}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">BUSINESS START DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.bizInfo.bizStartDate %}
                               {{data.bizInfo.bizStartDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">REGISTRATION DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.bizInfo.regDate %}
                                {{data.bizInfo.regDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">BUSINESS EXPIRY DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.bizInfo.endBusinessDate %}
                                {{data.bizInfo.endBusinessDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    {% if data.bizInfo.ammendmentDate %}
                    <tr style="height: 8px;">
                        <td><p id="secondary">LAST AMMENDMENT DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {{data.bizInfo.ammendmentDate}}
                        </p></td>
                    </tr>
                    {% endif %}
                    <tr style="height: 8px;">
                        <td><p id="secondary">STATUS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.bizInfo.status %}
                                {{data.bizInfo.status}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    {% if data.llpInfo.llpName %}
                    <tr style="height: 8px;">
                        <td><p id="secondary">LLP NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.llpInfo.llpName %}
                                {{data.llpInfo.llpName}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    <tr style="height: 8px;">
                        <td><p id="secondary">REGISTRATION NO.</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.llpInfo.llpNo %}
                                {{data.llpInfo.llpNo}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    <tr style="height: 8px;">
                        <td><p id="secondary">CONVERSION DATE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.llpInfo.llpDate %}
                                {{data.llpInfo.llpDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>

                    {% endif %}
                </table>
            </div>

            <h4 class="font-weight-bold text-center mt-5"><u>BUSINESS TYPE</u></h4>
            <p id="primary">{{data.bizType.description}}</p>

            <h4 class="font-weight-bold text-center mt-5"><u>BRANCH INFORMATION</u></h4>
            {% if data.branchInfo|length is 0 %}
            <p id="secondary" class="text-center"> NO BRANCH </p>
            {% endif %}

            {% if data.branchInfo|length is not 0 %}
            <ol id="branch-list">
                {% for branch in data.branchInfo %}
                <li>
                    {% if branch.address1 %}
                        {{branch.address1}}, 
                    {% endif %}
                    {% if branch.address2 %}
                        {{branch.address2}}, 
                    {% endif %}
                    {% if branch.address3 %}
                        {{branch.address3}}, 
                    {% endif %}
                    {% if branch.postcode %}
                        {{branch.postcode}}, 
                    {% endif %}
                    {% if branch.town %}
                        {{branch.town}}, 
                    {% endif %}
                    {% if branch.state %}
                        {{branch.state}}
                    {% endif %}
                </li>
                {% endfor %}
            </ol> 
            {% endif %}
            
            {% for current in data.ownerCurrentInfo %}
            <h4 class="font-weight-bold text-center pg-break"><u>INFORMATION OF CURRENT OWNER</u></h4>
            <table class="table text-left" >
                <tr>
                    <th style="width:30%; border: 0;"></th>
                    <th style="width:1%; border: 0;"></th>
                    <th style="width:69%; border: 0;"></th>
                </tr>
                <tr style="height:8px;">
                    <td><p id="secondary">NAME</p></td>
                    <td><p id="secondary">:</p></td>
                    <td><p id="secondary" class="pl-2">{{data.bizInfo.registrationName}}</p></td>
                </tr>
                <tr style="height:8px;">
                    <td><p id="secondary">REGISTRATION NO.:</p></td>
                    <td><p id="secondary">:</p></td>
                    <td><p id="secondary" class="pl-2"><b>{{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</b></p></td>
                </tr>                    
            </table>

            <hr class="my-3" />

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr id="zero">
                        <th style="width:30%;" id="head-zero"></th>
                        <th style="width:1%;" id="head-zero"></th>
                        <th style="width:69%;" id="head-zero"></th>
                    </tr>

                    <tr style="height: 8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{current.name}}</p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">RESIDENTIAL ADDRESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.address_1 %}
                                {{current.address_1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if current.address_2 %}
                                {{current.address_2}} <br />
                            {% endif %}
                            {% if current.address_3 %}
                                {{current.address_3}} <br />
                            {% endif %}
                            {% if current.postcode %}
                                {{current.postcode}}, {{current.town}}  <br />
                            {% endif %}
                            {% if current.state %}
                                {{current.state}}
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">IC (OLD)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.icNoOld %}
                                {{current.icNoOld}}
                            {% else %}
                                NIL
                            {% endif %}
                            </td>              
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">IC (NEW)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.icNoNew %}
                                {{current.icNoNew}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">DATE OF BIRTH</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.birthDate %}
                                {{current.birthDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">RACE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.race %}
                                {{current.race}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">GENDER</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.gender %}
                                {{current.gender}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">NATIONALITY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.nationality %}
                                {{current.nationality}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">DATE OF ENTRY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if current.entryDate %}
                                {{current.entryDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                </table>
            </div>
            {% endfor %}

            {% if data.ownerPreviousInfo|length is 0 %}
            <h4 class="font-weight-bold text-center pg-break"><u>INFORMATION OF PREVIOUS OWNER</u></h4>
            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{data.bizInfo.registrationName}}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">REGISTRATION NO.:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2"><b>{{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</b></p></td>
                    </tr>                    
                </table>
            </div>
            <h2 class="font-weight-bold text-center" style="margin-top: 160px; font-size: 16pt;"> NO INFORMATION </h2>
            {% endif %}
            
            {% for previous in data.ownerPreviousInfo %}
            <h4 class="font-weight-bold text-center pg-break"><u>INFORMATION OF PREVIOUS OWNER</u></h4>
            <div class="table-responsive">
                <table class="table text-left" >
                    <tr>
                        <th style="width:30%; border: 0;"></th>
                        <th style="width:1%; border: 0;"></th>
                        <th style="width:69%; border: 0;"></th>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{data.bizInfo.registrationName}}</p></td>
                    </tr>
                    <tr style="height:8px;">
                        <td><p id="secondary">REGISTRATION NO.:</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2"><b>{{data.bizInfo.compNoNew}} {{data.bizInfo.registrationNo}}</b></p></td>
                    </tr>                    
                </table>
            </div>
            <hr class="my-3" />

            <div class="table-responsive">
                <table class="table text-left borderless" cellspacing="0" cellpadding="0">
                    <tr id="zero">
                        <th style="width:30%;" id="head-zero"></th>
                        <th style="width:1%;" id="head-zero"></th>
                        <th style="width:69%;" id="head-zero"></th>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">NAME</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{previous.name}}</p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">RESIDENTIAL ADDRESS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.address_1 %}
                                {{previous.address_1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if previous.address_2 %}
                                {{previous.address_2}} <br />
                            {% endif %}
                            {% if previous.address_3 %}
                                {{previous.address_3}} <br />
                            {% endif %}
                            {% if previous.postcode %}
                                {{previous.postcode}}, {% if previous.town %} {{previous.town}}  {% endif %}<br />
                            {% endif %}
                            {% if previous.state %}
                                {{previous.state}}
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">IC (OLD)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.icNoOld %}
                                {{previous.icNoOld}}
                            {% else %}
                                NIL
                            {% endif %}
                            </td>              
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">IC (NEW)</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.icNoNew %}
                                {{previous.icNoNew}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">DATE OF BIRTH</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.birthDate %}
                                {{previous.birthDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">RACE</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.race %}
                                {{previous.race}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">GENDER</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.gender %}
                                {{previous.gender}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">NATIONALITY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.nationality %}
                                {{previous.nationality}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height: 8px;">
                        <td><p id="secondary">DATE OF ENTRY</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.entryDate %}
                                {{previous.entryDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>   
                    <tr style="height: 8px;">
                        <td><p id="secondary">DATE OF WITHDRAWAL</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.withdrawDate %}
                                {{previous.withdrawDate}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>   
                    <tr style="height: 8px;">
                        <td><p id="secondary">REASON OF WITHDRAWAL</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if previous.ammendmentType %}
                                {{previous.ammendmentType}}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>  
                </table>
            </div>
            {% endfor %}

            <div class="end-report">
                <h4 id="end" class="font-weight-bold text-center">END OF REPORT</h4>
    
                <p style="margin-top:0;margin-bottom:0;font-size: 12pt" class="text-center">THIS INFORMATION ARE FROM THE BUSINESS'S DOCUMENT REGISTERED AS AT {{ data.last_update_date}}. </p>  
                <p style="margin-top:0;margin-bottom:0;font-size: 12pt" class="text-center">THIS INFORMATION IS COMPUTER GENERATED. NO SIGNATURE IS REQUIRED.</p>
                <p style="margin-top:5px;margin-bottom:10px;font-size: 12pt" class="text-center">REGISTRAR OF BUSINESS, PENINSULAR MALAYSIA</p>
            </div>
        </div>

        <footer id="footer">
            <div class="row">
                <p class="col text-center" style="margin-bottom:0px;font-size: 10pt">USER ID: huzree@pipe.my</p>
            </div>

            <p class="text-center" style="margin-bottom:0;font-size: 10pt">THIS BUSINESS INFORMATION IS GENERATED / PRINTED AS AT {{data.generated_date}}</p>  
            <p class="text-center" style="margin-top:0; margin-bottom:10px;font-size: 10pt">MENARA SSM@SENTRAL, NO.7, JALAN STESEN SENTRAL 5, KUALA LUMPUR SENTRAL, 50623 KUALA LUMPUR<br>TEL: 03-7721 4000 FAX: 03-7721 4001</p>  
        </footer>
    </body>
</html>

