{% load humanize %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title></title>
        <meta name="description" content="">
        <meta name="author" content="">
        <style>
            @charset "UTF-8";
            @page {
                /* padding: 2cm; */
                /* size: A4; Change from the default size of A4 */
                /* padding: 2.0cm; Set margin on each page */
                size: A4 portait;
                @top-right{
                    content: "Mukasurat " counter(page) " daripada " counter(pages);
                    font-size: 10pt;
                }
            }

            header#header {
                position: fixed;
                top: 0;
                left: 0;

                height: 14.5rem;
                width: 100%;
            }
            img.logo {
                height: 11rem !important;
                padding-left: 2.5rem;
                padding-right: 2.5rem;
            }
            html {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 15pt;
            }
            .default-template {
                color: #333;
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 13pt;
                padding-left: 2.5rem !important;
                padding-right: 2.5rem !important;
            }
            .default-template p#secondary {
                font-size: 13pt;
                margin-bottom: 6pt;
            }
            .default-template p#disclaimer {
                font-size: 11pt;
            }
            .default-template p#primary {
                word-spacing: 5pt;
                font-size: 13pt;
                text-align: justify;
            }
            table {border: 0;} 
            table tr.top table td.title {
                color: #333;
            }
            .table td, .table th {
                border-top: 0px;
                padding-right: 0;
                padding-left: 0;
            }
            table tr.heading td {
                color: #333;
            }
            table tr#zero {
                padding-top: 0; 
                padding-bottom: 0; 
                margin-top: 0; 
                margin-bottom: 0;
            }
            table tr#row {
                margin-bottom: 0.5rem !important;
                height: 7rem !important;
            }
            table tr th#head-zero {
                padding-top: 0; 
                padding-bottom: 0; 
                margin-top: 0; 
                margin-bottom: 0;
            }
            .pg-break {
                page-break-before: always; 
                margin-top: 11rem;
            }
            ol#branch-list {
                font-size: 13pt;
            }
            ol > li {
                margin-bottom: 0;
                margin-top: 0;
                font-size: 13pt;
            }
            .pg-start {
                margin-top: 11rem;
            }
            .end-report {
                position: absolute;
                bottom: 5.0rem;
                left: 0;
                height: 10rem;
                width: 100%;
                padding-right: 30px;
            }
            h4#bottom {
                margin-bottom: 0.5rem;
            }
            hr {
                box-sizing: content-box;
                height: 0;
                overflow: visible;
                margin-top: 2rem;
                margin-bottom: 2rem;
                border: 0;
                border-top-color: currentcolor;
                border-top-style: none;
                border-top-width: 0px;
                border-top: 1px solid rgba(0,0,0,.1);
            }
            h4 {
                font-size: 15pt;
            }
            hr {
                box-sizing: content-box;
                height: 0;
                overflow: visible;
                margin-top: 2rem;
                margin-bottom: 2rem;
                border: 0;
                border-top-color: currentcolor;
                border-top-style: none;
                border-top-width: 0px;
                border-top: 1px solid rgba(0,0,0,.1);
            }
            h4#end{
                margin-top: 160px; 
                font-size: 14pt;
            }
            footer#footer {
                font-family: "Courier New", "Helvetica", Helvetica, Arial, sans-serif;
                font-size: 10pt;
                position: fixed;
                bottom: 0;
                left: 0;

                height: 2.5rem;
                width: 100%;
            }
        </style>
    </head>

    <body>

        <header id="header">
            <div class="text-center">
                <img class="mb-5 logo" src="https://pipeline-project.sgp1.digitaloceanspaces.com/ssm/resources/SSM-Logo.png">
            </div>
        </header>
        
        <div class="default-template container pg-start">
            <p id="disclaimer" style="text-align:justify;">
                <b>
                    SUNGGUHPUN SEGALA USAHA TELAH DIAMBIL UNTUK MEMASTIKAN 
                    MAKLUMAT YANG DIBERI ADALAH BETUL DAN KEMASKINI PENDAFTAR 
                    SYARIKAT TIDAK BOLEH DIPERTANGGUNGKAN BAGI SEBARANG KERUGIAN 
                    KERANA MAKLUMAT YANG TERSILAP ATAU TERTINGGAL.
                </b>
            </p>
            <h4 class="font-weight-bold text-center">BUTIR-BUTIR PENGARAH/PEGAWAI</h4>
            <h4 id="bottom" class="font-weight-bold text-center"><u>MAKLUMAT SYARIKAT</u></h4>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr id="zero">
                        <th style="width:30%;" id="head-zero"></th>
                        <th style="width:1%;" id="head-zero"></th>
                        <th style="width:69%;" id="head-zero"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA LAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.company_info.companyOldName %}
                                {{data.company_info.companyOldName }}
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TARIKH PERTUKARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.company_info.companyOldName %}
                                {{ data.date_of_change }}
                            {% else %}
                                NIL
                            {% endif %}
                                                        
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TARIKH PENUBUHAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{data.incorp_date }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">JENIS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {{data.corpInfo.companyType}} <br>
                            {{data.corpInfo.companyStatus}}
                            </p>
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">STATUS</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {{data.corpInfo.statusOfCompany}}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">ALAMAT DAFTAR</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.registered_address_info.address1 %}
                                {{data.registered_address_info.address1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if data.registered_address_info.address2 %}
                                {{data.registered_address_info.address2}} <br />
                            {% endif %}
                            {% if data.registered_address_info.address3 %}
                                {{data.registered_address_info.address3}} <br />
                            {% endif %}
                            {% if data.registered_address_info.town %}
                                {{data.registered_address_info.town}}<br />
                            {% endif %}
                            {% if data.registered_address_info.stateString %}
                                {{data.registered_address_info.stateString}} <br />
                            {% endif %}
                        </p>
                        </td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">POSKOD</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{data.registered_address_info.postcode}}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">TEMPAT PENUBUHAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {{ data.corpInfo.reg_origin }}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">ALAMAT PERNIAGAAAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.corpInfo.biz_address1 %}
                                {{data.corpInfo.biz_address1}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                            {% if data.corpInfo.biz_address2 %}
                                  {{data.corpInfo.biz_address2}} <br />
                            {% endif %}
                            {% if data.corpInfo.biz_address3 %}
                                  {{data.corpInfo.biz_address3}} <br />
                            {% endif %}
                            {% if data.corpInfo.biz_town %}
                                {{data.corpInfo.biz_town}}<br />
                            {% endif %}
                            {% if data.corpInfo.biz_state %}
                                {{data.corpInfo.biz_state}} <br />
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">POSKOD</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.corpInfo.biz_postcode %}
                                {{data.corpInfo.biz_postcode}} <br />
                            {% else %}
                                NIL
                            {% endif %}
                        </p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">JENIS PERNIAGAAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">
                            {% if data.company_info.businessDescription %}
                                {{data.company_info.businessDescription}}
                            {% else %}
                                NIL
                            {% endif %}
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
            
            <h4 id="bottom" class="font-weight-bold text-center pg-break"><u> PEGAWAI / PENGARAH TERKINI </u></h4>

            <div class="table-responsive">
                <table class="table text-left" >
                    <tr id="zero">
                        <th style="width:30%;" id="head-zero"></th>
                        <th style="width:1%;" id="head-zero"></th>
                        <th style="width:69%;" id="head-zero"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>            

            <hr class="my-3" />

            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr id="zero">
                        <th style="width:38%;" id="head-zero"><p id="secondary">NAMA / ALAMAT</p></th>
                        <th style="width:20%;" id="head-zero"><p id="secondary">IC / PASPORT</p></th>
                        <th style="width:20%;" id="head-zero"><p id="secondary">JAWATAN</p></th>
                        <th style="width:22%;" id="head-zero"><p id="secondary">TARIKH LANTIKAN</p></th>
                    </tr>
                    {% for officer in data.current %}
                        {% if forloop.counter < 6 %}
                        <tr id="row">
                            <td><p id="secondary">
                                {{ officer.name | upper }}<br>
                                {{ officer.address1 }}<br>
                                {% if officer.address2 %}{{ officer.address2 }}<br>{% endif %}
                                {% if officer.address3 %}{{ officer.address3 }}<br>{% endif %}
                                {% if officer.postcode %}{{ officer.postcode }} {{ officer.town }}<br>{% endif %}                        
                                {% if officer.state %}{{ officer.state }}{% endif %}
                            </p></td>
                            <td><p id="secondary">{{ officer.idNo }}</p></td>
                            <td><p id="secondary">{{ officer.designationCode }}</p></td>
                            <td><p id="secondary">{{ officer.startDate }}</p></td>
                        </tr>    
                        {% endif %}
                    {% endfor %}
                </table>
            </div>   

            {% if data.current|length > 5 %}
                <h4 id="bottom" class="font-weight-bold text-center pg-break"><u> PEGAWAI / PENGARAH TERKINI </u></h4>
                
                <div class="table-responsive">
                    <table class="table text-left" >
                        <tr id="zero">
                            <th style="width:30%;" id="head-zero"></th>
                            <th style="width:1%;" id="head-zero"></th>
                            <th style="width:69%;" id="head-zero"></th>
                        </tr>
                        <tr style="height:20px;">
                            <td><p id="secondary">NAMA</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="pl-2">{{ data.company_info.companyName }}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td><p id="secondary">NO. PENDAFTARAN</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="pl-2"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                        </tr>                    
                    </table>
                </div>    
            
                <hr class="my-3" />

                <div class="table-responsive">
                    <table class="table text-left borderless">
                        <tr id="zero">
                            <th style="width:38%;" id="head-zero"><p id="secondary">NAMA / ALAMAT</p></th>
                            <th style="width:20%;" id="head-zero"><p id="secondary">IC / PASPORT</p></th>
                            <th style="width:20%;" id="head-zero"><p id="secondary">JAWATAN</p></th>
                            <th style="width:22%;" id="head-zero"><p id="secondary">TARIKH LANTIKAN</p></th>
                        </tr>
                        {% for officer in data.current %}
                            {% if forloop.counter > 5 and forloop.counter < 11 %}
                                <tr id="row">
                                    <td><p id="secondary">
                                        {{ officer.name | upper }}<br>
                                        {{ officer.address1 }}<br>
                                        {% if officer.address2 %}{{ officer.address2 }}<br>{% endif %}
                                        {% if officer.address3 %}{{ officer.address3 }}<br>{% endif %}
                                        {% if officer.postcode %}{{ officer.postcode }} {{ officer.town }}<br>{% endif %}                        
                                        {% if officer.state %}{{ officer.state }}{% endif %}
                                    </p></td>
                                    <td><p id="secondary">{{ officer.idNo }}</p></td>
                                    <td><p id="secondary">{{ officer.designationCode }}</p></td>
                                    <td><p id="secondary">{{ officer.startDate }}</p></td>
                                </tr>    
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>   
            {% endif %}
            
            <h4 id="bottom" class="font-weight-bold text-center pg-break"><u> PEGAWAI / PENGARAH TERDAHULU </u></h4>
            <div class="table-responsive">
                <table class="table text-left" >
                    <tr id="zero">
                        <th style="width:30%;" id="head-zero"></th>
                        <th style="width:1%;" id="head-zero"></th>
                        <th style="width:69%;" id="head-zero"></th>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NAMA</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2">{{ data.company_info.companyName }}</p></td>
                    </tr>
                    <tr style="height:20px;">
                        <td><p id="secondary">NO. PENDAFTARAN</p></td>
                        <td><p id="secondary">:</p></td>
                        <td><p id="secondary" class="pl-2"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                    </tr>                    
                </table>
            </div>
            
            <hr class="my-3" />
            
            {% if data.previous|length > 0 %}
            <div class="table-responsive">
                <table class="table text-left borderless">
                    <tr id="zero">
                        <th style="width:30%;" id="head-zero"><p id="secondary">NAMA / ALAMAT</p></th>
                        <th style="width:20%;" id="head-zero"><p id="secondary">IC / PASPORT</p></th>
                        <th style="width:14%;" id="head-zero"><p id="secondary">JAWATAN</p></th>
                        <th style="width:13%;" id="head-zero"><p id="secondary">TARIKH LANTIKAN</p></th>
                        <th style="width:13%;" id="head-zero"><p id="secondary">TARIKH LETAK JAWATAN</p></th>
                        <th style="width:8%;" id="head-zero"><p id="secondary">TARIKH DIKELUARKAN</p></th>
                    </tr>
                    {% for officer in data.previous %}                        
                        {% if forloop.counter < 6 %}
                        <tr id="row">
                            <td><p id="secondary">
                                {{ officer.name | upper }}<br>
                                {{ officer.address1 }}<br>
                                {% if officer.address2 %}{{ officer.address2 }}<br>{% endif %}
                                {% if officer.address3 %}{{ officer.address3 }}<br>{% endif %}
                                {% if officer.postcode %}{{ officer.postcode }} {{ officer.town }}<br>{% endif %}                        
                                {% if officer.state %}{{ officer.state }}{% endif %}
                            </p></td>
                            <td><p id="secondary">{{ officer.idNo }}</p></td>
                            <td><p id="secondary">{{ officer.designationCode }}</p></td>
                            <td><p id="secondary">{{ officer.startDate }}</p></td>
                            <td><p id="secondary">
                                {% if officer.resignDate %}
                                    {{ officer.resignDate }}
                                {% endif %}
                            </p></td>
                            <td><p id="secondary">
                                {% if officer.removalDate %}
                                    {{ officer.removalDate }}
                                {% endif %}
                            </p></td>
                        </tr>  
                        {% endif %}
                    {% endfor %}
                </table>
            </div> 
            {% endif %}

            {% if data.previous|length > 5 %}
                <h4 id="bottom" class="font-weight-bold text-center pg-break"><u> PEGAWAI / PENGARAH TERDAHULU </u></h4>
                
                <div class="table-responsive">
                    <table class="table text-left" >
                        <tr id="zero">
                            <th style="width:30%;" id="head-zero"></th>
                            <th style="width:1%;" id="head-zero"></th>
                            <th style="width:69%;" id="head-zero"></th>
                        </tr>
                        <tr style="height:20px;">
                            <td><p id="secondary">NAMA</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="pl-2">{{ data.company_info.companyName }}</p></td>
                        </tr>
                        <tr style="height:20px;">
                            <td><p id="secondary">NO. PENDAFTARAN</p></td>
                            <td><p id="secondary">:</p></td>
                            <td><p id="secondary" class="pl-2"><b>{{data.compNoNew}} ({{data.compNoOld }})</b></p></td>
                        </tr>                    
                    </table>
                </div>
                
                <hr class="my-3" />

                <div class="table-responsive">
                    <table class="table text-left borderless">
                        <tr id="zero">
                            <th style="width:30%;" id="head-zero"><p id="secondary">NAMA / ALAMAT</p></th>
                            <th style="width:20%;" id="head-zero"><p id="secondary">IC / PASPORT</p></th>
                            <th style="width:14%;" id="head-zero"><p id="secondary">JAWATAN</p></th>
                            <th style="width:13%;" id="head-zero"><p id="secondary">TARIKH LANTIKAN</p></th>
                            <th style="width:13%;" id="head-zero"><p id="secondary">TARIKH LETAK JAWATAN</p></th>
                            <th style="width:8%;" id="head-zero"><p id="secondary">TARIKH DIKELUARKAN</p></th>
                        </tr>
                        {% for officer in data.previous %}                        
                            {% if forloop.counter > 5 and forloop.counter < 11 %}
                            <tr id="row">
                                <td><p id="secondary">
                                    {{ officer.name | upper }}<br>
                                    {{ officer.address1 }}<br>
                                    {% if officer.address2 %}{{ officer.address2 }}<br>{% endif %}
                                    {% if officer.address3 %}{{ officer.address3 }}<br>{% endif %}
                                    {% if officer.postcode %}{{ officer.postcode }} {{ officer.town }}<br>{% endif %}                        
                                    {% if officer.state %}{{ officer.state }}{% endif %}
                                </p></td>
                                <td><p id="secondary">{{ officer.idNo }}</p></td>
                                <td><p id="secondary">{{ officer.designationCode }}</p></td>
                                <td><p id="secondary">{{ officer.startDate }}</p></td>
                                <td><p id="secondary">
                                    {% if officer.resignDate %}
                                        {{ officer.resignDate }}
                                    {% endif %}
                                </p></td>
                                <td><p id="secondary">
                                    {% if officer.removalDate %}
                                        {{ officer.removalDate }}
                                    {% endif %}
                                </p></td>
                            </tr>  
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>    
            {% endif %}

            {% if data.previous|length == 0 %}
                <div class="table-responsive">
                    <table class="table text-left borderless">
                        <tr id="zero">
                            <th style="width:30%;" id="head-zero"><p id="secondary">NAMA / ALAMAT</p></th>
                            <th style="width:20%;" id="head-zero"><p id="secondary">IC / PASPORT</p></th>
                            <th style="width:14%;" id="head-zero"><p id="secondary">JAWATAN</p></th>
                            <th style="width:13%;" id="head-zero"><p id="secondary">TARIKH LANTIKAN</p></th>
                            <th style="width:13%;" id="head-zero"><p id="secondary">TARIKH LETAK JAWATAN</p></th>
                            <th style="width:8%;" id="head-zero"><p id="secondary">TARIKH DIKELUARKAN</p></th>
                        </tr>
                    </table>
                </div> 

                <h3 class="font-weight-bold text-center" style="margin-top: 160px; font-size: 16pt;">TIADA MAKLUMAT</h3>
            {% endif %}

            <div class="end-report">
                <h4 id="end" class="font-weight-bold text-center">TAMAT LAPORAN</h4>      

                <p style="margin-top: 0;margin-bottom: 0;font-size: 12pt" class="text-center">MAKLUMAT PENGARAH / PEGAWAI TERDAHULU ADALAH EKSTRAK DARIPADA DOKUMEN BERKANUN SYARIKAT YANG DIDAFTARKAN BAGI TEMPOH LIMA BELAS (15) TAHUN TERBELAKANG.</p>  
                <p style="margin-top: 0;margin-bottom: 0;font-size: 12pt" class="text-center">MAKLUMAT INI ADALAH CETAKAN KOMPUTER. TANDATANGAN TIDAK DIPERLUKAN.</p>
                <p style="margin-top: 5px;margin-bottom: 10px;font-size: 12pt" class="text-center">PENDAFTAR SYARIKAT</p>
            </div>
        </div>

        <footer id="footer">
            <div class="row">
                <p class="col text-center" style="margin-bottom:0px;font-size:10pt">USER ID: huzree@pipe.my</p>
            </div>
            <p class="text-center" style="margin-bottom:0;font-size:10pt">MAKLUMAT SYARIKAT INI DIJANA / DICETAK PADA {{data.generated_time}}</p>  
            <p class="text-center" style="margin-top: 0;margin-bottom:10px;font-size:10pt">MENARA SSM@SENTRAL, NO.7, JALAN STESEN SENTRAL 5, KUALA LUMPUR SENTRAL, 50623 KUALA LUMPUR<br>TEL: 03-7721 4000 FAKS: 03-7721 4001</p>  
        </footer>
    </body>
</html>

